.demo{
  --table-header-background-color:#a6a6a6;
  --table-row-odd-background-color:#c1c1c1;
  --table-row-even-background-color:#dddddd;
}
/**
* Component position
*/
.container{
  display: flex;
  justify-content: center;
}
/**
* Table
*/
table{
  margin: 1em auto;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 120px;
}
th {
  background-color: var(--table-header-background-color);
}
tr{
  background-color: var(--table-row-odd-background-color);
  &:nth-child(even) {
    background-color: var(--table-row-even-background-color);
  }
}
/**
* Snippet code
*/
.snippet{
  display:flex;
  justify-content: center;
  height: min-content;
  width: 100%;
}
code{
  background-color: lightgrey;
  border: solid 1px grey;
}