.demo{
  --table-header-background-color:#a6a6a6;
  --table-row-odd-background-color:#c1c1c1;
  --table-row-even-background-color:#dddddd;
}
html{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  margin:0;
  color: white;
  background-color: #202226;
}
h2,h3{
  text-align: center;
}
/**
* Component position
*/
.container{
  display: flex;
  justify-content: center;
}
/**
* Table
*/
table{
  margin: 1em auto;
  color:black;
  min-width:25vw;
  width:min-content;
}
td, th {
  width: clamp(0em,15vw,10em);
  padding: 0.5em 1em;
  text-align: left;
  border: 1px solid #dddddd;
}
th {
  background-color: var(--table-header-background-color);
}
tr{
  background-color: var(--table-row-odd-background-color);
  &:nth-child(even) {
    background-color: var(--table-row-even-background-color);
  }
}
/**
* Snippet code
*/
.snippet{
  display:flex;
  justify-content: center;
  height: min-content;
  width: 100%;
}
code{
  color:black;
  width:clamp(20vw, 70%, 70vw);
  background-color: lightgrey;
  padding: 0 2em;
  border: solid 1px grey;
  white-space:pre-wrap;
}